<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tara Hensle's Portfolio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Font Link -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  <!-- JQuery  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
  
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Custom CSS File -->
 <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid header">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a href = "/" class="navbar-brand">Tara Hensle</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">About Me</a></li>
        <li><a href="/projects">Portfolio</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container text-center">
  </div>
</div>
  
    {{{body}}}

</div><br><br>

  <footer class="container-fluid text-center">
    <a href="https://www.linkedin.com/in/tara-hensle-863057135/"><img src="/assets/images/if_linkedin_1218317.PNG" class="img-responsive icons" alt="LinkedIn"></a>
    <a href="https://github.com/thensle"><img src="/assets/images/if_github-social-media_765246.PNG" class="img-responsive icons" alt="GitHub"></a>
    <a href="https://twitter.com/tara_hensle"><img src="/assets/images/if_online_social_media_twitter_734377.PNG" class="img-responsive icons" alt="Twitter"></a>
  </footer>

  </body>
</html>