<div class="container-fluid bg-3 text-center body-bio">
  <div class = "row"></div>
    <div class = "col-sm-5">
      <div class = "picture-container">
        <img class = "bio-pic" src="/assets/images/me-casual.jpg">
      </div>
    </div>
    <div class = "col-sm-7">
      <div class = "body-text">
        <h2>Welcome!</h2>

        <p><b>Full-Stack Developer, Quirky Jewelry Collector, Foodie, Musical Junkie, Idle Writer, Card Player, INFJ</b>  </p> <br><br>

        <p>I am currently enrolled in Northwestern's Coding Bootcamp program and learning the fundamentals of full-stack web development. I am eager to continue learning and apply my previous experience and knowledge in a technical field.</p><br>

        <p>My background is in social science research and I have always been "data-oriented," however the driving force in my career has been helping improve the lives of people with neuro-developmental disabilities. For me, I believe fully accepting and realizing the strengths and talents of people with disabilities is crucial to accomplish this goal. I have interests in disability advocacy, research, and community engagement, and hope to use my newfound technical knowledge to make a larger impact toward these interests. </p>

        <p><a href="/assets/Hensle-resume.pdf" download>Download</a> my resume here.</p>
      </div>
    </div>
</div><br><br>