<div class="container-fluid bg-3 text-center">
  <div class = "row">
    <div class = "col-sm-3"> 
    </div>
    <div class = "col-sm-6"> 
      <h2>Project Title</h2> <br>
        <p>Sentence Summary</p>
          <a href="">Live Link</a><br>
          <a href="">Github Link</a><br><br>
      <p>Description</p><br>
      <p>Technologies Used:</p><br>
    </div>
  </div>
  <br><br>
    

  <!-- ScreenShots of Working App -->
  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <div class="col-sm-6">
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive project-pic" alt="Image">
        <p>Description1</p>
      </div>
      <div class="col-sm-6">
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive project-pic" alt="Image">
        <p>Description2</p>
      </div>
    </div>
  </div>
  


</div><br><br>