<div class="container-fluid bg-3 text-center">    
  <h3>My Web Development/Software Projects</h3><br>
  <div class="row">
    {{#each data}}
    <div class="col-sm-4">
      <a href = "/projects/{{this.title}}"><p>{{this.title}}</p></a>
       <a href = "/projects/{{this.title}}"><img src="{{this.image1URL}}" class="img-responsive project-pic" alt="Project Preview Image"></a>
    </div>
   {{/each}}
  </div>
</div><br>

</div><br><br>