/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */

.header {
  background-color: #4f5b66;
  font-color: black;
}

.jumbotron {
	margin-bottom: 0px;
  background-image: url(../images/opal.jpg);
  background-position: 0% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  padding-top: 13%;
  padding-bottom: 13%;
}

.icons {
  height: 50px;
  width: 50px;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.body-bio {
  position: relative;
  display: inline-block;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 10%;
}

.body-text {
  display: inline-block;
}

.bio-pic {
  width: 60%;
  height: auto;
  display: inline-block;
  
}

.picture-container {
  display: inline-block;
  float: left;

}


footer {
  background-color: #65737e;
  width: 100%;
  padding: 25px;
  position: absolute;
  bottom: 0;
  float: bottom;
}

body {
  background-color: #a7adba;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 5%;
  font-size: 1.5em;

}

.project-pic {
  width: 100%;
  height: 100%;
}